/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
:root {
  --brand-primary: #7972ce;
}

.bg-brand {
  background-color: var(--brand-primary);
}

.text-brand {
  color: var(--brand-primary);
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

@media (width >= 1768px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
