{{docs-header}}

{{docs-hero
  logo='ember-cli'
  slimHeading='Fastboot'
  strongHeading='Testing'
  byline="Test your Fastboot rendered html alongside your application's tests."}}

<div class='docs-container'>
  <section class='max-w-md mx-auto pb-8 docs-md mt-8'>

    {{#docs-snippet name="example-test.js"}}
      import { module, test } from 'qunit';
      import { setup, visit } from 'ember-cli-fastboot-testing/test-support';

      module('Fastboot | it works!', function(hooks) {
        setup(hooks);

        test('Fastboot renders the correct title', async function(assert) {
          await visit('/');

          assert.dom('h1').includesText('My application!');
        });
      });
    {{/docs-snippet}}

    <div class="mt-8 text-right">
      {{#docs-link 'docs'}}
        Get started &rarr;
      {{/docs-link}}
    </div>
    
  </section>
</div>
